body {
    margin: 0;
    font-family: Arial;
    background: #f1faff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #0077b6;
    color: white;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px;
    background: linear-gradient(to right, #0077b6, #00b4d8);
    color: white;
}

/* Button */
.btn {
    padding: 10px 20px;
    background: white;
    color: #0077b6;
    border-radius: 20px;
    text-decoration: none;
}

/* Cards */
.card {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 15px;
}

/* Grid */
.grid {
    display: flex;
    gap: 20px;
}

/* Services */
.services {
    display: flex;
    gap: 15px;
}

.box {
    flex: 1;
    padding: 20px;
    background: #90e0ef;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.1);
}

/* WhatsApp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    padding: 15px;
    border-radius: 50%;
}

/* Animation */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* Form */
form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
